/informe_prestamo.jasper
/informe_listado_libros.jasper
/subinforme_prestamos.jasper
/subinforme_grafico_barras.jasper
/subinforme_estado.jasper
/subinforme_alumnos.jasper
/subinforme_grafico_estado.jasper
/subinforme_grafico_alumnos.jasper
/informe_graficos.jasper
/informe_alumnos.jasper
